pipeline/api_ids_copy_child.json
{
	"name": "api_ids_copy_child",
	"properties": {
		"activities": [
			{
				"name": "copy_web",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "post_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat(activity('post_token').output.token_type,' ',activity('post_token').output.access_token)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "spotify_api",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@concat(pipeline().parameters.relative_url,'/',pipeline().parameters.id_list)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SpotifySQLDB",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "post_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.spotify.com/api/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=',pipeline().parameters.grant_type,'&client_id=',pipeline().parameters.client_id,'&client_secret=',pipeline().parameters.client_secret)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"id_list": {
				"type": "string",
				"defaultValue": "587PA35pRGL1JwQr6idJbb,2848adRcxvgWNRcz1g1tQD,6I6fmQU7HGrUsCm4B5Nlk3,1LZEQNv7sE11VDY3SdxQeN,0HthCchcL0kVLHTr113Vk1"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "artists"
			},
			"schema_name": {
				"type": "string",
				"defaultValue": "etl"
			},
			"table_name": {
				"type": "string",
				"defaultValue": "Artists"
			},
			"grant_type": {
				"type": "string",
				"defaultValue": "client_credentials"
			},
			"client_secret": {
				"type": "string",
				"defaultValue": "8f015264f7584942b3cf3aa5f67621ad"
			},
			"client_id": {
				"type": "string",
				"defaultValue": "9b758b33a88e4844ba79c0fe9762f70d"
			}
		},
		"annotations": []
	}
}